<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <% for(let row of locals.data1) {%> 
        <p><%=row.string%></p> 
    <%}%>
    <% if(locals.data2)for(let row of locals.data2) {%> 
        <p><%=row.string%></p> 
    <%}%>
    <% let text = JSON.stringify( locals.data2) %> 
    
    <script>
        let a=0;
        
        console.log('<%=text %>');
        // if(local.data)console.log(locals.data)
        // if(local.err)console.log(locals.err)
    </script>
</body>
</html>